.App {
  background: #282c34;
  text-align: center;
  min-height: 100vh;
}

.titleAlbums {
  color: white;
  font-size: 1.5em;
}

.albums{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album{
  margin: 8px;
}

.albumCover{
  width: 18vw;
  box-shadow: 1px 3px 8px black;
  cursor: pointer;
}

.albumName{
  color: white;
  margin: 0px;
  font-size: 1.4em;
  text-shadow: 1px 3px 2px rgba(37, 37, 37, 0.795);
  width: 18vw;
  cursor: pointer;
}

.artistName{
  color: white;
  margin-top: 0px;
  font-size: 1.1em;
  text-shadow: 1px 3px 2px rgba(37, 37, 37, 0.795);
  width: 18vw;
  cursor: pointer;
}

.modalContent > h4{
  cursor: pointer;
}

.cover {
  background: url(https://image.flaticon.com/icons/png/512/26/26025.png);
  background-size: cover;
  width: 300px;
  height: 300px;
}

.cover > img{
  cursor: pointer;
}

.cover > img:hover{
  opacity: .5;
}

.playerWidget {
  position: fixed;
  top: 90%;
  left: 0%;
  z-index: 8;
  width: 100%;
}